<!--index.html-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Server Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link href="/static/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/highcharts.js"></script>
    <script src="/static/highcharts-more.js"></script>
    <script src="/static/solid-gauge.js"></script>
    <script src="/static/exporting.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
    <script>
        $(document).ready(function () {
            var socket = io.connect(
                "http://" + document.domain + ":" + location.port
            );

            socket.on("response", function (data) {
                var memoryData = data.memory_usage;
                $("#os").text(data.system_name);
                $("#cpu-stat-sys").text(data.cpu_arch);
                $("#mem-percent").text(data.memory_usage);
                mem_used = data.memory_usage;
                $("#total_upload").text(data.total_upload);
                upload = data.total_upload;
                $("#total_download").text(data.total_download);
                download = data.total_download;
                $("#cpu-stat-sirq").text(data.load);
                $("#cpu-stat-iow").text(data.process_count);
                $("#cpu-stat-irq").text(data.connection_count);
                $("#uptime").text(data.uptime);
                $("#system_date").text(data.date);
                $("#system_time").text(data.time);
                $("#uptime_date").text(data.uptime_date);
                $("#username").text(data.username);
                $("#ip").text(data.ip);
                $("#hostname").text(data.hostname);
                $("#cpu-freq").text(data.cpu_freq);
                $("#cpu-count").text(data.cpu_sums);
                $("#cpu-temp").text(data.cpu_temp);
                $("#cpu-model").text(data.cpu_model);
                $("#disk-free").text(data.disk_free);
                $("#disk-percent").text(data.disk_percent);
                disk_bfb = data.disk_percent;
                $("#cpu-stat-idl").text(data.cpu_kx);
                $("#version").text(data.version);
                $("#cpu-stat-use").text(data.cpu_used);
                cpu_used = data.cpu_used;
                $("#mem-free").text(data.total_memory);
                $("#mem-swap-percent").text(data.swap_used);
                swap_used = data.swap_used;
                $("#mem-swap-free").text(data.swap_size);
                $("#cpu-stat-nic").text(data.thread_count);
                $("#mem-cached").text(data.mem_sy);
                net_upload = data.net_upload
                net_download = data.net_download
                $("#net-interface-total-out").text(net_upload);
                $("#net-interface-total-in").text(net_download);
            });

            setInterval(function () {
                socket.emit("get_info");
            }, 1000);
        });
    </script>
    <style type="text/css">
        .label {
            color: #999999;
            font-size: 75%;
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img style="height: 100%; display: inline; margin-right: 10px"
                            src="/static/images/logo.png" />Server Dashboard</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a target="_blank" href="https://www.zfxkj.top">ZFX的学习笔记</a>
                        </li>
                        <!-- <li><a target="_blank" href="https://docker.zfxkj.top">docker_web</a></li> -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false">About <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <!-- <li><a target="_blank" href="https://pan.zfxkj.top">ZFX的网盘</a></li> -->
                                <li>
                                    <a target="_blank" href="https://github.com/ZFXkj/pi-dashboard">GitHub Source</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div style="text-align: center; padding: 20px 0">
                        <img src="/static/images/raspberry-pi.png" />
                    </div>
                    <div style="
                background-color: #e0e0e0;
                padding: 5px;
                border-radius: 3px;
              ">
                        <!-- <div class="text-center" style="margin:10px; padding: 10px 0 10px 0; border-radius: 3px;"><div id="pimodel" style="font-size: 90%; font-weight: bolder; text-shadow: 0 1px 0 #fff;">123</div></div> -->
                        <div class="text-center" style="
                  margin: 20px;
                  padding: 10px 0 10px 0;
                  background-color: #cefca3;
                  border-radius: 3px;
                ">
                            <div class="label">ipv4</div>
                            <div id="ip" style="font-size: 150%; font-weight: bolder"></div>
                        </div>
                        <div class="text-center" style="
                  margin: 20px;
                  padding: 10px 0 10px 0;
                  background-color: #9dcffb;
                  border-radius: 3px;
                ">
                            <div class="label">时间</div>
                            <div id="system_time" style="font-size: 150%; font-weight: bolder"></div>
                            <div id="system_date"></div>
                        </div>
                        <div class="text-center" style="
                  margin: 20px;
                  padding: 10px 0 10px 0;
                  background-color: #fffecd;
                  border-radius: 3px;
                ">
                            <div class="label">开机时间</div>
                            <div id="uptime" style="font-size: 150%; font-weight: bolder"></div>
                            <div id="uptime_date"></div>
                        </div>
                        <div class="text-center" style="
                  margin: 20px;
                  padding: 10px 0 10px 0;
                  background-color: #fafafa;
                  border-radius: 3px;
                ">
                            <div class="label">用户名</div>
                            <div id="username" style="font-size: 120%; font-weight: bolder"></div>
                        </div>
                        <div class="text-center" style="
                  margin: 20px;
                  padding: 10px 0 10px 0;
                  background-color: #fafafa;
                  border-radius: 3px;
                ">
                            <div class="label">操作系统</div>
                            <div id="os" style="font-size: 120%; font-weight: bolder"></div>
                        </div>
                        <div class="text-center" style="
                  margin: 20px;
                  padding: 10px 0 10px 0;
                  background-color: #fafafa;
                  border-radius: 3px;
                ">
                            <div class="label">主机名</div>
                            <div id="hostname" style="font-size: 110%; font-weight: bolder"></div>
                        </div>
                        <!-- <div class="text-center" style="margin:20px; padding: 10px 0 10px 0; background-color:#FAFAFA; border-radius: 3px;"><div id="uname" style="word-break:break-all; word-wrap:break-word; font-size: 12px; color: #999999; padding: 0 10px;"><?php echo($D['uname']); ?></div></div> -->
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div id="container-cpu" style="width: 100%; height: 200px"></div>
                            <script>
                                $(document).ready(function () {
                                    var mychart = echarts.init(
                                        document.getElementById("container-cpu")
                                    );
                                    var time_s = [];
                                    var cpu_bfb = [];

                                    setInterval(function () {
                                        var now = new Date(); // 获取当前时间
                                        var seconds = now.getSeconds(); // 获取当前秒数
                                        time_s.push(seconds);
                                        cpu_bfb.push(window.cpu_used);
                                        if (time_s.length > 10 || cpu_bfb.length > 10) {
                                            time_s.shift(); // 删除第一个元素
                                            cpu_bfb.shift();
                                        }
                                        var option = {
                                            color: ["green"],
                                            xAxis: {
                                                type: "category",
                                                data: time_s,
                                            },
                                            yAxis: {
                                                type: "value",
                                            },
                                            series: [
                                                {
                                                    data: cpu_bfb,
                                                    type: "line",
                                                },
                                            ],
                                        };
                                        mychart.setOption(option);
                                    }, 1000);
                                });
                            </script>
                            <div style="height: 200px">
                                <div class="row" style="margin: 0; background-color: #e0e0e0">
                                    <div class="text-center" style="padding: 2px 0 2px 0; background-color: #cdfd9f">
                                        <strong><small>CPU</small></strong>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #fffecd;
                        ">
                                            <span id="cpu-freq" style="font-weight: bolder"></span><br /><small
                                                class="label">MHz</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="cpu-count"></span><br /><small class="label">核心数</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #fdcccb;
                        ">
                                            <span id="cpu-temp" style="font-weight: bolder">0</span><br /><small
                                                class="label">C°</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #9bcefd;
                        ">
                                            <span id="cpu-stat-idl">0</span>%<br /><small class="label">空闲</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #9bcefd;
                        ">
                                            <span id="cpu-stat-use">0</span>%<br /><small class="label">使用</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #9bcefd;
                        ">
                                            <span id="cpu-stat-sys"></span><br /><small class="label">cpu架构</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #9bcefd;
                        ">
                                            <span id="cpu-stat-nic"></span><br /><small class="label">线程数</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #9bcefd;
                        ">
                                            <span id="cpu-stat-iow"></span><br /><small class="label">进程数</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #9bcefd;
                        ">
                                            <span id="cpu-stat-irq"></span><br /><small class="label">连接数</small>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #9bcefd;
                        ">
                                            <span id="cpu-stat-sirq"></span><br /><small class="label">负载</small>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="min-height: 52px">
                                        <div class="text-center" style="padding: 10px 0 10px 0; margin: auto 0">
                                            <span id="cpu-model" class="label"></span>&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div id="container-mem" style="width: 100%; height: 200px"></div>
                            <script>
                                $(document).ready(function () {
                                    var mychart = echarts.init(
                                        document.getElementById("container-mem")
                                    );
                                    var time_s = [];
                                    var mem_bfb = [];

                                    setInterval(function () {
                                        var now = new Date(); // 获取当前时间
                                        var seconds = now.getSeconds(); // 获取当前秒数
                                        time_s.push(seconds);
                                        mem_bfb.push(window.mem_used);
                                        if (time_s.length > 10 || mem_bfb.length > 10) {
                                            time_s.shift(); // 删除第一个元素
                                            mem_bfb.shift();
                                        }
                                        var option = {
                                            color: ["blue"],
                                            xAxis: {
                                                type: "category",
                                                data: time_s,
                                            },
                                            yAxis: {
                                                type: "value",
                                            },
                                            series: [
                                                {
                                                    data: mem_bfb,
                                                    type: "line",
                                                },
                                            ],
                                        };
                                        mychart.setOption(option);
                                    }, 1000);
                                });
                            </script>
                            <div style="height: 200px">
                                <div class="row" style="margin: 0; background-color: #e0e0e0">
                                    <div class="text-center" style="padding: 2px 0 2px 0; background-color: #cdfd9f">
                                        <strong><small>内存</small></strong>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="mem-percent">0</span>%<br /><small class="label">使用</small>
                                        </div>
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #cdfd9f;
                        ">
                                            <span id="mem-free">0</span>GB<br /><small class="label">大小</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #ceffff;
                        ">
                                            <span id="mem-cached"></span>MB<br /><small class="label">可用</small>
                                        </div>
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #cccdfc;
                        ">
                                            <span id="mem-swap-total">0</span>MB<br /><small class="label">SWAP</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="loadavg-1m">0.0</span><br /><small class="label">AVG.1M</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="loadavg-5m">0.0</span><br /><small class="label">AVG.5M</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="loadavg-10m">0.0</span><br /><small class="label">AVG.10M</small>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0">
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #fffdcf;
                        ">
                                            <strong><span id="loadavg-running">0</span>/<span
                                                    id="loadavg-threads">0</span></strong><br /><small
                                                class="label">RUNNING</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div id="container-cache" style="width: 100%; height: 100px"></div>
                            <script>
                                $(document).ready(function () {
                                    var mychart = echarts.init(
                                        document.getElementById("container-cache")
                                    );
                                    var time_s = [];
                                    var cpu_bfb = [];
                                    var down = [];

                                    setInterval(function () {
                                        var now = new Date(); // 获取当前时间
                                        var seconds = now.getSeconds(); // 获取当前秒数
                                        time_s.push(seconds);
                                        cpu_bfb.push(window.upload);
                                        down.push(window.download);
                                        if (time_s.length > 10 || cpu_bfb.length > 10) {
                                            time_s.shift(); // 删除第一个元素
                                            cpu_bfb.shift();
                                            down.shift();
                                        }
                                        var option = {
                                            xAxis: {
                                                type: "category",
                                                data: time_s,
                                            },
                                            yAxis: {
                                                type: "value",
                                            },
                                            series: [
                                                {
                                                    color :'#E0E0E0',
                                                    data: cpu_bfb,
                                                    type: "line",
                                                },
                                                {
                                                    color: '#CEFFFF',
                                                    data: down,
                                                    type: "line",
                                                }
                                            ],
                                        };
                                        mychart.setOption(option);
                                    }, 1000);
                                });
                            </script>
                            <div style="height: 90px">
                                <div class="row" style="margin: 0; background-color: #e0e0e0">
                                    <div class="text-center" style="padding: 2px 0 2px 0; background-color: #ceffff">
                                        <strong><small>流量</small></strong>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="total_upload">0</span>GB<br /><small class="label">上传</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6"
                                        style="padding: 0; background-color: #ceffff">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="total_download">0</span>GB<br /><small class="label">下载</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div id="container-mem-real" style="width: 100%; height: 100px"></div>
                            <script>
                                $(document).ready(function () {
                                    var mychart = echarts.init(
                                        document.getElementById("container-mem-real")
                                    );
                                    var time_s = [];
                                    var cpu_bfb = [];

                                    setInterval(function () {
                                        var now = new Date(); // 获取当前时间
                                        var seconds = now.getSeconds(); // 获取当前秒数
                                        time_s.push(seconds);
                                        cpu_bfb.push(window.cpu_used);
                                        if (time_s.length > 10 || cpu_bfb.length > 10) {
                                            time_s.shift(); // 删除第一个元素
                                            cpu_bfb.shift();
                                        }
                                        var option = {
                                            color: ["#CDFD9F"],
                                            xAxis: {
                                                type: "category",
                                                data: time_s,
                                            },
                                            yAxis: {
                                                type: "value",
                                            },
                                            series: [
                                                {
                                                    data: cpu_bfb,
                                                    type: "line",
                                                },
                                            ],
                                        };
                                        mychart.setOption(option);
                                    }, 1000);
                                });
                            </script>
                            <div style="height: 90px">
                                <div class="row" style="margin: 0; background-color: #e0e0e0">
                                    <div class="text-center" style="padding: 2px 0 2px 0; background-color: #cdfd9f">
                                        <strong><small>REAL MEMORY</small></strong>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="mem-real-percent">0</span>%<br /><small class="label">USED</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6"
                                        style="padding: 0; background-color: #cdfd9f">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="mem-real-free">0</span>MB<br /><small class="label">FREE</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div id="container-swap" style="width: 100%; height: 100px"></div>
                            <script>
                                $(document).ready(function () {
                                    var mychart = echarts.init(
                                        document.getElementById("container-swap")
                                    );
                                    var time_s = [];
                                    var cpu_bfb = [];

                                    setInterval(function () {
                                        var now = new Date(); // 获取当前时间
                                        var seconds = now.getSeconds(); // 获取当前秒数
                                        time_s.push(seconds);
                                        cpu_bfb.push(window.swap_used);
                                        if (time_s.length > 10 || cpu_bfb.length > 10) {
                                            time_s.shift(); // 删除第一个元素
                                            cpu_bfb.shift();
                                        }
                                        var option = {
                                            color: ["#CCCDFC"],
                                            xAxis: {
                                                type: "category",
                                                data: time_s,
                                            },
                                            yAxis: {
                                                type: "value",
                                            },
                                            series: [
                                                {
                                                    data: cpu_bfb,
                                                    type: "line",
                                                },
                                            ],
                                        };
                                        mychart.setOption(option);
                                    }, 1000);
                                });
                            </script>
                            <div style="height: 90px">
                                <div class="row" style="margin: 0; background-color: #e0e0e0">
                                    <div class="text-center" style="padding: 2px 0 2px 0; background-color: #cccdfc">
                                        <strong><small>SWAP</small></strong>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="mem-swap-percent">0</span>%<br /><small class="label">使用</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6"
                                        style="padding: 0; background-color: #cccdfc">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="mem-swap-free">0</span>MB<br /><small class="label">大小</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div id="container-disk" style="width: 100%; height: 100px"></div>
                            <script>
                                $(document).ready(function () {
                                    var mychart = echarts.init(
                                        document.getElementById("container-disk")
                                    );
                                    var time_s = [];
                                    var cpu_bfb = [];

                                    setInterval(function () {
                                        var now = new Date(); // 获取当前时间
                                        var seconds = now.getSeconds(); // 获取当前秒数
                                        time_s.push(seconds);
                                        cpu_bfb.push(window.disk_bfb);
                                        if (time_s.length > 10 || cpu_bfb.length > 10) {
                                            time_s.shift(); // 删除第一个元素
                                            cpu_bfb.shift();
                                        }
                                        var option = {
                                            color: ["#9BCEFD"],
                                            xAxis: {
                                                type: "category",
                                                data: time_s,
                                            },
                                            yAxis: {
                                                type: "value",
                                            },
                                            series: [
                                                {
                                                    data: cpu_bfb,
                                                    type: "line",
                                                },
                                            ],
                                        };
                                        mychart.setOption(option);
                                    }, 1000);
                                });
                            </script>
                            <div style="height: 90px">
                                <div class="row" style="margin: 0; background-color: #e0e0e0">
                                    <div class="text-center" style="padding: 2px 0 2px 0; background-color: #9bcefd">
                                        <strong><small>硬盘</small></strong>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="disk-percent">0</span>%<br /><small class="label">使用</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6"
                                        style="padding: 0; background-color: #9bcefd">
                                        <div class="text-center" style="padding: 10px 0 10px 0">
                                            <span id="disk-free">0</span>GB<br /><small class="label">大小</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="margin: 0">
                                <div class="col-md-10 col-sm-10 col-xs-10" style="padding: 0">
                                    <div id="container-net-interface"
                                    style="width: 100%; height: 200px"></div>
                                        <script>
                                            $(document).ready(function () {
                                                var mychart = echarts.init(
                                                    document.getElementById("container-net-interface")
                                                );
                                                var time_s = [];
                                                var cpu_bfb = [];
                                                var down = [];
            
                                                setInterval(function () {
                                                    var now = new Date(); // 获取当前时间
                                                    var seconds = now.getSeconds(); // 获取当前秒数
                                                    time_s.push(seconds);
                                                    cpu_bfb.push(window.net_upload);
                                                    down.push(window.net_download);
                                                    if (time_s.length > 10 || cpu_bfb.length > 10) {
                                                        time_s.shift(); // 删除第一个元素
                                                        cpu_bfb.shift();
                                                        down.shift();
                                                    }
                                                    var option = {
                                                        xAxis: {
                                                            type: "category",
                                                            data: time_s,
                                                        },
                                                        yAxis: {
                                                            type: "value",
                                                        },
                                                        series: [
                                                            {
                                                                color :'#CDFD9F',
                                                                data: cpu_bfb,
                                                                type: "line",
                                                            },
                                                            {
                                                                color: '#9BCEFD',
                                                                data: down,
                                                                type: "line",
                                                            }
                                                        ],
                                                    };
                                                    mychart.setOption(option);
                                                }, 1000);
                                            });
                                        </script>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-2" style="padding: 0">
                                    <div style="height: 80px; margin-top: 10px">
                                        <div class="text-center"
                                            style="padding: 2px 0 2px 0; background-color: #cccccc">
                                            <strong><span id="net-interface-in">
                                                </span></strong>
                                        </div>
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #9bcefd;
                        ">
                                            <span id="net-interface-total-in">
                                            </span>MB<br /><small class="label">IN</small>
                                        </div>
                                        <div class="text-center" style="
                          padding: 10px 0 10px 0;
                          background-color: #cdfd9f;
                        ">
                                            <span id="net-interface-total-out">
                                            </span>MB<br /><small class="label">OUT</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="footer">
                        <hr style="margin: 20px 0 10px 0" />
                        <p class="pull-left" style="font-size: 12px">
                            Powered by
                            <a target="_blank" href="#"><strong>Pi Dashboard</strong></a>
                            v<span id="version"></span>,
                            <a target="_blank" href="#">zfxkj.top</a> all rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/static/dashboard.min.js"></script> -->
</body>

</html>